.image {
    width: 25em;
    max-width: 100%;
    border-radius: 10px;
    transition: transform .3s ease-in-out;
}
.image:hover{
    box-shadow: 0px 12px 10px -6px rgba(0,0,0,0.3);
    transform: scale(1.2,1.2);
    transition: transform .3s ease-in-out;
}

.details{
    margin: 1em;
}

.details button{
    margin-top: 1rem;
    margin-right: 1rem;
    width: 7rem;
}

p{
    font-size: 18px;
    text-align: justify;
}
 