.movie-List-addMovie {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: end;
}
.movie-List-addMovie :Link {
    margin-left: 1rem;
    height: 100%;
    display: block;
    text-align: center;
    justify-content: center;
    
}

.jumbotron-margin{
    margin: 2rem;
}

.button-size {
    width : 11em;
    margin-bottom: 1rem ;
}