.movie-List-addMovie {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: end;
}
.movie-List-addMovie :Link {
    margin-left: 1rem;
    height: 100%;
    display: block;
    text-align: center;
    justify-content: center;
    
}

.jumbotron-margin{
    margin: 2rem;
}

.button-size {
    width : 11em;
    margin-bottom: 1rem ;
}

.loader,
.loader:before,
.loader:after {
  background: #dfdfe6;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
    
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

  color: #dfdfe6;
  text-indent: -9999em;
  margin: 88px auto;
  /* position: relative; */
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
