
.movie{
    width: 250px;
    margin: 1rem;
    background-color: #0b0c0f;
    color: #abb2c7;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
}

.movie img{
    max-width: 100%;

}

.movie-container{
    display: flex;
    flex-wrap: wrap;
}

.movie-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.movie-info h3{
    margin: 0;
    font-size: large;
}

.movie-description{
    background-color: white;
    color: #0b0c0f;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    overflow: auto;
    max-height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.movie:hover .movie-description{
    transform: translateY(0%)
}
    